<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Patrik Pech"/>
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/ikona.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("CSS", required: false)
</head>
<body>
<header>
    <div id="logo">
        <h1>Patrik Pech</h1>
        <small>Future Full stack developer</small>
    </div>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Domu</a></li>
            <li><a asp-controller="Article" asp-action="Index">Clanky</a></li>
            <li><a asp-controller="Home" asp-action="Skills">Dovednosti</a></li>
            <li><a asp-controller="Home" asp-action="References">Reference</a></li>
            <li><a class="kontakt-tlacitko" asp-controller="Home" asp-action="Contact">Kontakt</a></li>
        </ul>
    </nav>
</header>
<article>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <section>
        @RenderBody()
    </section>
</article>

<footer>
    Vytvoril &copy;Patrik Pech @DateTime.Now.Year
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>