@{
    ViewData["Title"] = "O mne";
}

<img src="~/images/avatar.jpg" class="avatar" alt="Patrik Pech">
<p>
    Vítejte na mém prvním webu, psát weby se teprve učím, ale myslím, že mi to docela jde.
</p>

<p>
    Jmenuji se Honza Bittner a je mi 16 let. Chodím na Střední průmyslovou školu v České Lípě na obor IT.
    Kontaktovat mě můžete na <a asp-controller="Home" asp-action="Contact">kontaktní stránce</a>.
</p>

<p>
    Rád čtu a někdy (hlavně v létě) i sportuju.
</p>

<p>
    Mým hlavním koníčkem (a doufám že jednou i zaměstnáním) je <strong>programování</strong>!
</p>

<p class="tlacitko-odstavec">
    <a asp-controller="Home" asp-action="References" class="reference-tlacitko">Moje reference</a>
</p>
<div class="cistic"></div>