@model AspBlog.Models.Entities.Article

@{
    ViewData["Title"] = Model.Title;
}
<div class="mt-3"><b>Nazev:</b> @Html.DisplayFor(model => model.Title)</div>
<div class="mt-3"><b>Popisek:</b> <small>@Html.DisplayFor(model => model.Description)</small></div>
<div class="mt-3"><b>Obsah:</b> @Html.DisplayFor(model => model.Content)</div>

<a class="d-inline-block clanky-tlacitko" asp-action="Index">Zpet na seznam</a>


